%article
  %header
    .pull-right
      %span.icon-tag
      = item[:tags]
      %span.icon-time
      = item[:created_at]
    %h4
      %span{ :class => "icon-#{item[:icon] || 'calendar'}" }
      = link_to item[:title], relative_path_to(item.path)
  = find_and_preserve(item.compiled_content)
