%article
  %header{:class => "page-header"}
    .pull-right
      = tag_links(item[:tags])
      %span.fa.fa-calendar
      = item[:created_at]
    %h4
      %span{ :class => "fa fa-#{item[:icon] || 'calendar'}" }
      = link_to item[:title], item.path
  = find_and_preserve(item.compiled_content)
