!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}/
    %link{:href => "https://plus.google.com/103719245554204460362", :rel => "publisher"}/
    %title #{@item[:title] || @item.identifier} - Siddick
    %link{:href => relative_path_to("/assets/application.css"), :rel => "stylesheet"}/
    /[if lt IE 9]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js", :type => "text/javascript"}/
  %body
    .container
      .row
        .col-sm-11
          #content
            = render "page_header"
            - if article?
              %article
                = find_and_preserve(yield)
              = fb_comments
            - else
              = yield
        .col-sm-1
          .social-icons.affix.affix-top
            .row
              %a.col-sm-12{:href => "/"}
                %i.fa.fa-home
            .row
              %a.col-sm-12{:href => "https://github.com/siddick"}
                %span.fa.fa-github
            .row
              %a.col-sm-12{:href => "https://twitter.com/2siddick"}
                %span.fa.fa-twitter
            .row
              %a.col-sm-12{:href => "http://www.facebook.com/siddick"}
                %span.fa.fa-facebook
    - if article?
      = render "facebook_js"
    = render "google_analytics"
